<div class="row screen_centre">
  <div class="col-md-6 offset-md-3">
    <h4>Login</h4>
    <form formGroupName="loginForm" (ngSubmit)="loginFunction()">
      <mat-form-field type="number" class="example-full-width">
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" formControlName="password">
      </mat-form-field>
      <mat-checkbox>Remember me !</mat-checkbox>
      <div class="row no_left_margin">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>
    Not a member <a>Sign Up!</a>
  </div>
</div>